<section class="dropdown-menu">
    <div>
        <nav>
            <ul>
                <li>
                    <a href="">
                        <img src="https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/61240324bd5017f41b5b31127c4aaea2~c5_720x720.jpeg?x-expires=1665014400&x-signature=KELGAVBMO74hdxPLy7sFytpZu50%3D" alt="">
                        <ul>
                            <section>
                                <li>
                                    <a href=""></a>
                                    Users
                                </li>
                                <li>
                                    <a href=""></a>
                                    Feedback
                                </li>
                                <div>
                                    <li>
                                        
                                        Hi Dima!?
                                        <a href="https://www.youtube.com/watch?v=NQSeLm7MqtA"></a>
                                    </li>
                                </div>
                            </section>
                        </ul>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>